body{
    margin: 0 auto;
    /* display: flex; */
    
}

nav{
    display: flex;
            /* align-items: center; */
            justify-content: space-between;
            /* margin: 0 auto; */
            height: 60px;
            width: 100%;
            /* background-color: rgb(236, 236, 236); */
            color: rgb(0, 0, 0);
            font-weight: 600;

}



nav ul{
    margin-left: 42px;
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    gap: 90px;
}

nav ul a {
    text-decoration: none;
}

.logo{
    height: 50px;
    width: 180px;
    margin: auto 24px;
}

.social_imgs{
    display: inline-block;
    height: 50px;
    width: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-right: 15px;
    margin-top: 5px;
    /* margin-top: auto; */
}
.login{
    display: flex;
   /* margin-top: 5px; */
   gap: 34px;
   align-items: center;
   margin-right: 1%;
}

.log_btns{
    display: flex;
    gap: 10px;
}

.menuicon{
    display: none;
}

.logoimg{
    height: 100%;
    align-items: center;
    display: flex;
}

.hamburger{
    /* box-sizing: border-box; */
    background-color: rgb(251, 251, 251);
    color: white;
    width: 190px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    flex-direction: row;
}

.hamburger ul{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 44px;
   margin-top: 40px;
   
}

.hamburger li{
    color: white;
    margin-top: 14px;
    /* border-bottom: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:760px){
    nav ul{
        display: none;
            
    }

    .logo{
        height: 40px;
        width: 120px;
        margin: auto 14px;
    }

    .login{
        display: flex;
        justify-content:right ;
        align-items: center;
        /* margin-right: 15%; */
        /* position: relative; */
        
       
    }

    .menuicon{
        display: flex;
        justify-content: right;
        align-items: center;
        /* margin-right: -30px;  */
        /* position:absolute; */
        margin-right: 10px;
    }
    
    .log_btns{
        display: flex;
        /* gap: 10px; */
        justify-content: right;
        /* align-items: center; */
        display: none;
    }
    
    .searchicon{
        margin-top: -3px;
        margin-right: -10px;
    }
   
    
}